
.form-login {
    width:400 !important;
    transform: translate(0%, 35%);
}

.menu-titile {
    max-width: 200px;
    background-color:#91CDA8;
    border-radius: 22px;
}
.menu-text-title {
    padding: 1.4rem;
    font-size: 32px;
}

.menu-text-issue {
    font-size: 23px;
}

.menu-box {
    width:200px;
    height:200px;
    padding:2rem;
    margin:2rem;
    background-color:#fff;
    border-color: #91CDA8;
    border-style: solid;
    justify-content: center;
    border-radius: 22px;
}

.mylink:hover {
    color: #919191 !important;
}

.hover-warning:hover {
    color: #ffcc00 !important;
    border-color: #ffcc00 !important;
}

/* Ipad */
@media (min-width: 481px) and (max-width: 800px) {
    .form-login {
        width:600 !important;
        transform: translate(0%, 35%);
    }

    .menu-box {
        width:170px;
        height:170px;
        padding:0.5rem;
        margin:1rem;
    }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {

    .form-login {
        width:300 !important;
        transform: translate(0%, 35%);
    }

    .menu-box {
        width:170px;
        height:170px;
        padding:0.5rem;
        margin:1rem;
    }

}