.ant-btn-primary {
    color: #2B4C2E !important;
    background: #91CDA8 !important;
    border-color: #91CDA8 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;
}

.ant-btn-info {
  color: #2B4C2E !important;
  background: #7ed5f2  !important;
  border-color: #7ed5f2  !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;
}

.ant-layout-header {
  height: 62px !important;
  padding: 0 28px !important;
  color: #fff;
  line-height: 64px;
  background: #F8F8FF !important;
}

.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #91CDA8 !important;
}

.ant-menu-item-selected {
  color: #91CDA8 !important;
}

.ant-menu {
  margin: 0 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.ant-menu-item:hover {
  color: #91CDA8 !important;
}

.navigation {
  background-color: #ffffff;
}

.c-black { 
  color: #000000 !important;
}

.ant-table-thead th{
  background-color: #c9c9c9 !important;
}