@font-face {
  font-family: "Kanit-Regular";
  src: url("./fonts/Kanit-Regular.ttf");
}

@font-face {
  font-family: "Kanit-Thin";
  src: url("./fonts/Kanit-Thin.ttf");
}

@font-face {
  font-family: "Kanit-Light";
  src: url("./fonts/Kanit-Light.ttf");
}

@font-face {
  font-family: "Kanit-Medium";
  src: url("./fonts/Kanit-Medium.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #EBF2EE;
}

* {
  box-sizing: border-box;
}

a {
  font-family: Kanit-Regular;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #ffdb19;
}

b,
strong {
  font-weight: bolder;
  font-family: Kanit-Medium;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Kanit-Regular;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  font-family: Kanit-Regular;
  margin-top: 0;
  margin-bottom: 1rem;
}

div {
  font-family: Kanit-Regular;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-right: -15px; */
  /* margin-left: -15px; */
}


.shadow-black {
  text-shadow: 0.7px 1.3px 2px rgb(0 0 0 / 55%) !important;
}

.shadow-black-1 {
  text-shadow: 1.2px 1.8px 2px rgb(0 0 0 / 55%) !important;
}

.shadow-black-2 {
  text-shadow: 1.7px 1.8px 1px rgb(0 0 0 / 55%) !important;
}

.shadow-white {
  text-shadow: 1.7px 1.8px 1px rgb(255 255 255 / 55%) !important;
}

.shadow-gray {
  text-shadow: 1.7px 1.8px 1px rgb(199, 199, 199 / 55%) !important;
}

.shadow-super-gray {
  text-shadow: 2.8px 3px 1.5px rgb(0 0 0 / 55%);
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.grid {
  display: flex;
  align-items: left;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.img {
  width: 100%;
  height: auto;
}

.vertical-center {
  display: flex;
  position: relative;
  align-items: center!important;
}

.section-center {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center!important;
}

.section {
  display: flex;
  position: relative;
  justify-content: center;
}

.vh100 {
  height: 100vh;
}

#mainmenu-desktop {
  display: flex;
}

#mainmenu-mobile {
  display: none;
}

/* Ipad */
@media (min-width: 481px) and (max-width: 800px) {
  #mainmenu-desktop {
    display: none;
  }
  
  #mainmenu-mobile {
    display: flex;
  }
}

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  #mainmenu-desktop {
    display: none;
  }
  
  #mainmenu-mobile {
    display: flex;
  }
}